
@{
    ViewData["Title"] = "GetDestinationById";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>GetDestinationById</h1>

<div class="container">
    <form class="form-control" method="post">
        <input type="text" placeholder="Please enter destination name" name="p"/>
        <button class="btn btn-success" type="submit">Get Destination</button>
    </form>
</div>