@using DTOLayer.DTOs.AnnouncementDto
@model List<AnnouncementListDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">

    <div class="card mt-3">
        <h5 class="card-header">Announcement</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Detail</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.AnnouncementID</td>
                            <td>@item.Title</td>
                            <td>@item.Content</td>
                            <td><span class="badge bg-label-primary me-1"> Detail</span></td>
                            <td><a href="/Admin/Announcement/DeleteAnnouncement/@item.AnnouncementID" class="btn btn-danger small">Delete</a></td>
                        </tr>

                    }
                </tbody>
            </table>
            <div class="flex justify-content-end">
                <a href="/Admin/Announcement/AddAnnouncement" class="btn btn-primary lg m-3">Add</a>

            </div>
        </div>
    </div>
</div>

