@model AnnouncementUpdateDto
@{
    ViewData["Title"] = "UpdateAnnouncement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>UpdateAnnouncement</h1>

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="container col-md-10">
        <div class="card mb-4">
            <h5 class="card-header">Update Announcement</h5>

            <div class="card-body">
                <form method="post" action="/Admin/Announcement/UpdateAnnouncement"> 

                    <input type="hidden" asp-for="AnnouncementID"/>

                    <div class="form-group" mb-5">
                        <label class="form-label">Title</label>
                        <input type="text"
                               class="form-control"
                               asp-for="Title" />
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>
                    <div class="form-group" mb-5">
                        <label class="form-label">Content</label>
                        <input type="text"
                               class="form-control"
                               asp-for="Content" />

                        <span class="text-danger" asp-validation-for="Content"></span>
                    </div>

                    <button class="btn btn-primary mt-4">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>