<div class="card">
    <div class="card-header">
        <h4 class="card-title" id="heading-multiple-thumbnails">Member Statistics</h4>
        <a class="heading-elements-toggle">
            <i class="la la-ellipsis-v font-medium-3"></i>
        </a>
    </div>
    <div class="card-content">
        <div class="card-body">
            <h4 class="card-title">Member Name</h4>
            <p class="card-text primary">
                Active reservation count: 4
            </p>
            <p class="card-text success">
                Your total reservations: 15
            </p>
            <p class="card-text info">
                Total approval reservaition count: 3
            </p>
        </div>
    </div>
</div>
