@model ForgetPasswordViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <form method="post"> 
    <br /> <br />
    <h2>Page Password Change</h2>
    <label>Please enter mail address</label>
    <input type="text" class="form-control" asp-for="Mail"/>
    <br />
    <button class="btn btn-primary">Send Password Change Link</button>
    </form>
</div>