@model UpdateRoleViewModel
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container my-5 col-10">
    <h3 class="mb-5">Update Role</h3>

    <form method="post">
        <input type="hidden" asp-for="RoleId" class="form-control" />

        <label>Role Name</label>

        <input type="text" asp-for="RoleName" class="form-control" />
        <br />
        <button class="btn btn-primary" type="submit">Update Role</button>
    </form>
</div>

