@model List<AppUser>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var count = 0;
}

<div class="col-11 mx-auto">
    <table class="table table-striped mt-5">
        <thead>
            <tr>
                <th>#</th>
                <th>User Name</th>
                <th>Assign Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@item.Name</td>
                    <td><a asp-action="AssignRole" asp-controller="Role" asp-route-id="@item.Id" class="btn btn-success">Assign Role</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

