@using TraversalCoreProject.Areas.Admin.Models
@model List<CityViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<button type="button" class="btn btn-outline-info" id="btngetlist">City List</button>

<div id="citylist">
    Here take place for Cities
</div>

<script>
    $("#btngetlist").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Admin/CityUsingAjax/CityList/",
            success: function (func) {
                console.log(func);
                let tableHtml = "<table class=table table-bordered> <tr><th>#</th> <th>City</th> <th>Country</th></tr>";
                $.each(func, (index,value)=>{
                    tableHtml +=`<tr><td>${index}</td> <td>${value.cityName}</td> <td>${value.cityCountry}</td></tr>`;
                });

                tableHtml += "</table>";
                $("#citylist").html(tableHtml);
            }
        });
    });
</script>